<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:property name="bl" value="base_link" />
  <xacro:property name="l01" value="link_01" />
  <xacro:property name="l02" value="link_02" />
  <xacro:property name="l03" value="link_03" />
  <xacro:property name="l04" value="link_04" />
  <xacro:property name="gll" value="grip_l" />
  <xacro:property name="glr" value="grip_r" />
  <xacro:property name="cam" value="camera" />
</robot>
